@import "compass";
@import "compass/reset";
@import "import/common";

@import "import/vendor/h5bp/normalize";
@import "import/vendor/h5bp/main";
@import "import/vendor/bootstrap/bootstrap.min";
@import "import/vendor/bootstrap/bootstrap-responsive.min";
@import "import/vendor/leaflet/leaflet";
@import "import/vendor/leaflet/leaflet.ie";
@import "import/vendor/leaflet/plugins/MarkerCluster.Default";
@import "import/vendor/leaflet/plugins/MarkerCluster.Default.ie";
@import "import/vendor/leaflet/plugins/MarkerCluster";

#map { 
  max-width: 1048px;
  height: 400px; 
  opacity: 0;
}