
body,p,a,div,span {
  font-size:1.2em;
  font-family: Georgia, serif;
  color:#443D33;
}

body {
  background-image: url('../images/bg-head.png');
  background-size:100%;
  background-attachment:fixed;

}

a, .link {
  color:white;
  opacity:1;
  background-color:#443D33;
  padding:3px;
}

.link a {
  text-decoration:none;
}

.link a:hover {
  text-decoration:none;
  color:lightgray;
}

h1 {
  color:white;
  font-family:'Helvetica', 'Arial', sans-serif;
}

h2,h3 {
  margin-top:10%;
}

.container {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  margin-bottom:5%;
}